---
import BottlePills from "../../../assets/BottlePills.astro";
---

<section
    class="flex justify-center items-center w-full h-screen bg-red-50 lg:px-48 lg:py-12">
    <div
        class="w-1/2 h-full rounded-2xl flex flex-col justify-center items-center bg-white">
        <div
            class="flex w-full h-2/3 aspect-square justify-center items-center">
            <BottlePills ancho="80%" largo="80%" />
        </div>
        <div class="w-full h-1/3 flex flex-col">
            <div class="w-full h-1/3 flex justify-center items-center">
                <button
                    class="bg-teal-800 capitalize py-1 px-8 rounded-2xl text-white font-medium">
                    Buy 1 get 3 free
                </button>
            </div>
            <div
                class="w-full h-2/3 flex flex-row justify-evenly items-center aspect-video">
                <div class="flex-1 size-full">
                    <BottlePills ancho="100%" largo="100%" />
                </div>
                <div class="flex-1 size-full">
                    <BottlePills ancho="100%" largo="100%" />
                </div>
                <div class="flex-1 size-full">
                    <BottlePills ancho="100%" largo="100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="w-1/2 h-full bg-yellow-100 px-2">
        <h2 class="font-bold text-4xl text-neutral-800">My Amazing Headline Goes Here</h2>
    </div>
</section>
