<div
    class="w-full h-80 md:h-56 bg-#f9f7f7 rounded-2xl flex md:flex-row flex-col justify-center md:justify-between items-center p-4">
    <div class="w-full md:w-4/12 md:h-full flex justify-center items-center">
        <img
            class="w-4/12 md:w-10/12 relative top-16 left-24 md:-top-10 md:left-0"
            src="/two-bottles.webp"
            alt="bottlesofpills"
        />
    </div>
    <div
        class="w-full md:w-8/12 h-full rounded-2xl bg-white p-5 flex flex-col justify-center gap-2 md:gap-0 md:justify-around items-start">
        <h3 class="text-teal-800 capitalize text-3xl font-bold">Ingredients</h3>
        <p class="text-sm text-neutral-800 text-pretty">
            Biodiesel pork belly green juice VHS farm-to-table, taxidermy
            heirloom scenester +1 chillwave man braid readymade locavore lomo.
            Intelligentsia typewriter glossier, kogi pour-over YOLO everyday
            carry flannel. Green juice Brooklyn church-key skateboard selfies,
            normcore Tumblr shabby chic activated charcoal poke bicycle rights
            quinoa portland dreamcatcher neutra.
        </p>
    </div>
</div>
