---
import IngHead from "./IngHead.astro";
import IngFooter from "./IngFooter.astro";
---

<section
    class="w-full flex flex-col items-center justify-center lg:px-48 lg:py-6 my-16 gap-10">
    <IngHead />
    <IngFooter />
</section>
