<section
    class="w-full h-96 md:h-72 lg:px-48 lg:py-6 my-10 md:my-16 flex justify-center items-center">
    <div
        class="size-full bg-#f9f7f7 p-5 rounded-2xl flex justify-center items-center">
        <div
            class="size-full bg-white p-5 flex justify-center items-center md:items-start rounded-2xl relative">
            <div
                class="w-full md:w-9/12 h-full flex flex-col justify-between items-center md:items-start text-center md:text-start">
                <span class="text-yellow-500 font-bold capitalize">
                    180 days money back guarantee
                </span>
                <h3 class="capitalize text-2xl font-bold text-neutral-800">
                    My Amazing Headline Goes Here
                </h3>
                <p class="text-pretty text-xs">
                    I’m baby retro chillwave letterpress small batch beard,
                    paleo ugh banjo hot chicken godard craft beer. Biodiesel
                    pork belly green juice VHS farm-to-table, taxidermy heirloom
                    scenester +1 chillwave man braid readymade locavore lomo.
                    Intelligentsia typewriter glossier, kogi pour-over YOLO
                    everyday carry flannel. Green juice Brooklyn church-key
                    skateboard selfies, normcore Tumblr shabby chic activated
                    charcoal poke bicycle rights quinoa portland dreamcatcher
                    neutra.
                </p>
            </div>
            <div
                class="absolute w-2/12 top-28 right-12 rotate-12 md:relative md:top-auto md:right-auto md:rotate-0 md:w-5/12 lg:w-3/12 h-full md:p-10 md:flex justify-center items-center">
                <img
                    class="w-full"
                    src="/sello-garantia.webp"
                    alt="guarantee seal"
                />
            </div>
        </div>
    </div>
</section>
