---
import Layout from "../layouts/Layout.astro";
import Main from "../components/sections/Presentation/Main.astro";
import AboutUs from "../components/sections/About/AboutUs.astro";
import Reviews from "../components/sections/Reseñas/Reviews.astro";
import Info from "../components/sections/Information/Info.astro";
import Pricing from "../components/sections/Price/Pricing.astro";
import Ingredientes from "../components/sections/Ingredients/Ingredientes.astro";
---

<Layout title="Landing test">
	<main>
		<Main />
		<AboutUs />
		<Reviews />
		<Info />
		<Pricing />
		<Ingredientes />
	</main>
</Layout>
