<header class="flex flex-col w-full h-100 gap-2 bg-white rounded-2xl relative">
    <div
        class="flex flex-col justify-between items-start w-7/12 h-4/6 md:pt-4 md:ps-4 md:pe-0">
        <h2 class="text-teal-800 text-3xl font-bold capitalize">
            Headline Goes Here
        </h2>
        <p class="text-sm text-pretty">
            I’m baby retro chillwave letterpress small batch beard, paleo ugh
            banjo hot chicken godard craft beer. Biodiesel pork belly green
            juice VHS farm-to-table, taxidermy heirloom scenester +1 chillwave
            man braid readymade locavore lomo.
        </p>
        <p class="text-sm text-pretty">
            Intelligentsia typewriter glossier, kogi pour-over YOLO everyday
            carry flannel. Green juice Brooklyn church-key skateboard selfies,
            normcore Tumblr shabby chic activated charcoal poke bicycle rights
            quinoa portland dreamcatcher neutra.
        </p>
        <hr class="w-full h-2" />
    </div>
    <div
        class="absolute top-0 right-0 w-5/12 h-72 rounded-2xl aspect-video bg-info-tea border-none bg-center bg-cover before:content-[''] before:absolute before:top-0 before:right-0 before:w-full before:h-full before:bg-tea-shadow before:border-none before:bg-no-repeat">
    </div>
    <div class="flex flex-col justify-around items-start h-2/6 md:pb-4 md:px-4">
        <h2 class="text-3xl font-bold text-neutral-800 capitalize">
            Headline Goes Here
        </h2>
        <p class="text-sm text-pretty">
            I’m baby retro chillwave letterpress small batch beard, paleo ugh
            banjo hot chicken godard craft beer. Biodiesel pork belly green
            juice VHS farm-to-table, taxidermy heirloom scenester +1 chillwave
            man braid readymade locavore lomo. Intelligentsia typewriter
            glossier, kogi pour-over YOLO everyday carry flannel. Green juice
            Brooklyn church-key skateboard selfies, normcore Tumblr shabby chic
            activated charcoal poke bicycle rights quinoa portland dreamcatcher
            neutra.
        </p>
    </div>
</header>
