---
interface Props {
    texto: string;
}

const { texto } = Astro.props;
---

<div class="flex flex-row justify-center items-center w-full">
    <div class="w-1/6 flex justify-center">
        <slot />
    </div>
    <p class="w-5/6 text-sm text-pretty">
        {texto}
    </p>
</div>
